@use "variables" as var;

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin base {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    font-size: 2em;
  }

  &__list {
    background-color: var.$list-color;
    width: 90vw;
    height: auto;
    border: 1px solid var.$trash-color;
    margin-bottom: 5%;
  }
}

@mixin list-style {
    list-style-type: none;
    background-color: var.$todo-color;
    margin: 5px;
    width: 90%;
    padding: 5px;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

 @mixin input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    input {
      width: 30%;
      padding: 10px;
    }

 }

@mixin sendBtn {
  width: 100px;
}

@mixin inputs {
  width: 35px;
}