@use "mixins";
@use "variables" as var;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var.$font-color;
    background-color: var.$bg-color;
}

.container {
    @include mixins.base;

    &__list {
        @include mixins.tablet {
            width: 50vw;
        }
    }

    li {
        @include mixins.list-style;
    }

}
.box {
    @include mixins.checkbox;
}

.newValueInput {
    @include mixins.newInput;
}

.newValueButton {
    @include mixins.sendBtn;
}