@use "mixins";
@use "variables" as var;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var.$font-color;
    background-color: var.$bg-color;
}

.container {
    @include mixins.base;

    &__list {
        @include mixins.tablet {
            width: 50vw;
        }
    }

    li {
        @include mixins.list-style;
    }

}

button {
    width: 50px;
    height: 40px;
    background-color: var.$bg-color;
    border: none;
    font-size: 1em;
    margin: 10px;
    // margin-right: -40px;

    &:hover {
        background-color: #e6abcb; 
    }
}

#container__input {
    @include mixins.input;
}

.inputButton {
    @include mixins.sendBtn;
}

.box {
    @include mixins.inputs;
}